<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <title>CURATOR | Inform, Inspire, Optimize</title>
  <link href="./static/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/vendor/css/keen-dashboards.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/nvd3/nv.d3.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon3.ico') }}">

</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="./">Curator</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-menu-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Links<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('activity') }}">Activity</a></li>
              <li class="disabled"><a href="{{ url_for('alerts') }}">Alerts</a></li>
            </ul>
        </li>
          <li class="dropdown-menu-right">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Group By<b class="caret"></b></a>
              <ul id="group_by_selector" class="dropdown-menu">
                <li><a href='javascript:void(0)'>domain_group</a></li>
      					<li><a href='javascript:void(0)'>client</a></li>
              </ul>
          </li>
          <li class="dropdown-menu-right">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Domain Group<b class="caret"></b></a>
              <ul id="domain_selector" class="dropdown-menu">
      					<li><a href='javascript:void(0)'>aol</a></li>
      					<li><a href='javascript:void(0)'>att</a></li>
      					<li><a href='javascript:void(0)'>gmail</a></li>
      					<li><a href='javascript:void(0)'>hotmail</a></li>
      					<li><a href='javascript:void(0)'>yahoo</a></li>
              </ul>
          </li>
          <li class="dropdown-menu-right">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Clients<b class="caret"></b></a>
              <ul id="client_selector" class="dropdown-menu">
                {% for clientname in clientnames %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{clientname}}</a></li>
                {% endfor %}
              </ul>
          </li>
      </ul>
  </div><!-- /.navbar-collapse -->
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Revenue by day
          </div>
          <div class="chart-stage">
            <div >
              <svg style='height:400px' id="revenue"/>
            </div>
          </div>
          <div class="chart-notes">
          </div>
        </div>
      </div>

      <div class="col-sm-7">
          <div class="chart-wrapper">
            <div class="chart-title">
              Record Counts
            </div>
            <div class="chart-stage">
                  <div class="col-sm-6">
                    <h5>Yahoo</h5>
                    <div >
                      <svg style='height:309px' id="records_yahoo"/>
                    </div>
                    <h5>AOL</h5>
                    <div >
                      <svg style='height:309px' id="records_aol"/>
                    </div>
                </div>
                <div class="col-sm-6">
                  <h5>Gmail</h5>
                    <div >
                      <svg style='height:309px' id="records_gmail"/>
                    </div>
                    <h5>Hotmail</h5>
                      <div >
                        <svg style='height:309px' id="records_hotmail"/>
                      </div>
                </div>
            </div>
            <div class="chart-notes">
              'Sent' identifies records that have received at least one email; 'not-sent' have never been monetized
            </div>
          </div>
        </div>
      <div class="col-md-5">
        <div class="chart-wrapper">
          <div class="chart-title">
            Yahoo Click per Record 15
          </div>
          <div class="chart-stage">
            <div >
              <svg style='height:300px' id="cpr_yahoo"/>
            </div>
          </div>
          <div class="chart-notes">
            Total number of clicks per record based on a user's import date
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Gmail Click per Record 15
          </div>
          <div class="chart-stage">
            <div >
              <svg style='height:300px' id="cpr_gmail"/>
            </div>
          </div>
          <div class="chart-notes">
            Total number of clicks per record based on a user's import date
          </div>
        </div>

        </div>

      </div>
    </div>

    <p class="small text-muted">Built with &#9829; by VH</p>

  </div>



  <!--  <script src="./static/vendor/js/keen.min.js"></script> /.navbar-collapse -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/nvd3/nv.d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>


</body>
</html>
